/* Estilo Página */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

.interface{
    max-width: 1300px;
    margin: 0 auto;
}

/* Estilo Header */

header{
    padding: 40px 5%;
}

header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a{
    color: rgb(75, 75, 75);   
    text-decoration: none; 
}

header a:hover{
    color: white;
    transform: scale(1.1);
    display: inline-block;
    transition: .3s;
}

header nav ul{
    list-style-type: none;
}

header nav ul li{
    display:  inline-block;
    padding: 0 40px;
    font-size: 17px;
}

header .logo img{
    max-width: 100px;
    max-height: 100px;
    width: auto;
    height: auto;
}

header .btn-contato button{
    padding: 10px 40px;
    font-size: 20px;
    border-radius: 20px;
    font-weight: 600;
    background-color: rgba(110, 3, 182, 0.575);
    cursor: pointer;
    border: none;
    color: white;
}

header .btn-contato button:hover{
    box-shadow: 0px 0px 10px rgb(255, 255, 255);
}